.toast-error {
  --background: #{$color-red};
  --color: #{$color-white};
}
.toast-success {
  --background: #{$color-green};
  --color: #{$color-white};
}
.toast-warning {
  --background: #{$color-beige};
  --color: #{$color-black};
}
.toast-info {
  --background: #{$color-blue-dark};
  --color: #{$color-white};
}
